// css img, button, title, icon, elements...
img {
    max-width: 100%;
    height: auto;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    display: block;
    outline: 0;
    object-fit: contain;
    &.--center {
        margin: 0 auto;
        display: block;
    }
}

a {
    text-decoration: none;
    outline: 0;
}

strong {
    font-family: ab; // optional
}

.--hidden {
    display: none;
}

sub {
    vertical-align: sub;
    font-size: smaller;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

// === LAYOUT GIRD ===
.--grid {
    display: grid;
    gap: var(--gap-grid);
    &.--layout-12 {
        grid-template-columns: repeat(12, 1fr);
    }
    &.--layout-3 {
        grid-template-columns: repeat(3, 1fr);
    }
        &.--layout-4 {
            grid-template-columns: repeat(4, 1fr);
        }
    &.--layout-2 {
        grid-template-columns: repeat(2, 1fr);
    }
    &.--layout-1 {
        grid-template-columns: repeat(1, 1fr);
    }
}
.product{
   padding: 100px 0;
}

    .product-item {
        cursor: pointer;
                width: 101%;
                background: transparent;
                box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
                border-radius: 16px;
                transition: box-shadow 0.3s ease-in-out;
                transition: var(--t);
        .thumbnail {
                aspect-ratio: 382/160;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                overflow: hidden;
                img {
                    width: 104%;
                    height: 104%;
                    background: none 0% 0% / contain;   
                    object-fit: cover;
                }
            }
        .content{
            position: relative;
            padding: 0px 20px 20px 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            .top {  
                display: flex;
                align-items: center;
                svg{
                    margin-left: 15px;
                }
                .icon {
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        border-radius: 10px;
                        border: 1px solid rgba(22, 22, 26, 0.08);
                        top: -20px;
                        z-index: 1;
                        background-color: #A9A9A9;
                        overflow: hidden;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
            
                        }
                    }
                 .title{
                    @include overtext(1);
                    margin-left: 60px;
                 
                    color: black;
                    font-size: 20px;
                    font-weight: 900;
                    
                 }

            }
            .bottom{
                margin-top: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .des{
                    color: var(--gray) ;
                    margin-right: 5px;  
                    white-space: nowrap;
                }
                .status{
                    font-weight: 900;
                    white-space: nowrap;
                }
            }
        
        }

                &:hover {
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                    transform: translateY(-5px);
                    transition: box-shadow 0.3s ease-in-out;
                    transition: var(--t);
                }
            
        }

/* Add your styles here */

.trieu{
        width: 300px;
        height: 500px;
        background: var(--white);
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
        position: absolute;
        top: 50%;
        padding: 20px;
        z-index: 999;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        overflow: hidden;
            transition: opacity 0.5s ease;
            .title{
                font-size: 30px;
            }
            .address {
                @include overtext(1);
            }
            .sign2{
                position: absolute;
                bottom: 0;
           height: 50px;
           cursor: pointer;
           padding: 0 40px;
        box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
                    left: 50%;
                    margin-bottom: 20px;
                    transform: translate( -50%);
            }
}


.trieu.active {
    opacity: 1;
}


/* Custom styles for Flickity carousel button icon */
.flickity-prev-next-button {
    width: 50px;
    top: 50%;
    height: 50px;
    border-radius: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(22, 22, 26, 0.04);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    &:hover {
        background: transparent;
    }

    path .arrow {
       
        fill: white;
        color: rgb(22, 22, 26);
        font-weight: bold;
            /* Fallback for some cases, though might not work *
            stroke: black;
            /* Set the color of the arrow */
            stroke-width: 2;
    }
}

